@font-face {
  font-family: 'arimo';
  font-style: normal;
  font-weight: normal;
  src: local('arimo'), url('../../public/fonts/Arimo/static/Arimo-Medium.ttf'), format('truetype');
}

@font-face {
  font-family: 'arimo';
  font-style: italic;
  font-weight: normal;
  src: local('arimo'), url('../../public/fonts/Arimo/static/Arimo-MediumItalic.ttf'), format('truetype');
}

@keyframes noise {
  0% { transform: translate(0); }
  100% { transform: translate(5px, 5px); }
}

.noise-effect {
  animation: noise 0.1s infinite;
  background: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1));
  background-size: 100% 100%;
}