@font-face {
  font-family: 'arimo';
  font-style: normal;
  font-weight: normal;
  src: local('arimo'), url('../../public/fonts/Arimo/static/Arimo-Medium.ttf'), format('truetype');
}

@font-face {
  font-family: 'arimo';
  font-style: italic;
  font-weight: normal;
  src: local('arimo'), url('../../public/fonts/Arimo/static/Arimo-MediumItalic.ttf'), format('truetype');
}

@keyframes hover-animation {
  0% {text-color: white; color: rgb(254 249 195 / var(--tw-text-opacity, 1));}
  100% {color: rgb(254 249 195 / var(--tw-text-opacity, 1)); text-decoration-color: rgb(254 249 195 / var(--tw-text-opacity, 1));}
}

.hover-animation {
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.noise-effect {
  background-image: url('../../public/images/noisy-texture.png');
}

