ul, li {
  display: inline-block;
}

.info-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15%;
}

.info li {
  padding: 0px 30px;
}

.bottom-container {
  overflow: hidden;
  position: fixed;
  justify-content: center;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.bottom-container li {
  padding: 0px 10px;  
}
